.table_1 {
    text-align: center;
    position: relative;
}

.card {
    background: none;
    border: none;
}

.table_1:hover img {
    filter: brightness(50%);
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 120%;
    text-align: center;
    width: 100%;    
}

.table_1:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
}

.table_1:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 4rem;
    box-shadow: 0 0 20px 15px lightblue;
}

/* .table2 {
    width: 50%;
    margin-top: 50px;
    margin-left: 100px;
} */

p{
    color: white;
    font-size: 50px;
}

.table3 {
    width: 50%;
    margin-top: 50px;
    margin-left: 100px;
}

.p2{
    text-align: center;
}

.main-modal .modal-header, .modal-footer {
    border: none;
}

.main-modal .modal-content {
    border-radius: 1.8rem;
    background: -webkit-linear-gradient(to bottom, #012e57 60%, #0686CB) center/cover no-repeat;
    background: linear-gradient(to bottom, #012e57 60%, #0686CB) center/cover no-repeat;
    width: 800px;
}

.modal-body {
    color: white;
}

.modal .modal-content {
    padding: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}

.card-row {
    margin-left: 50px;
    margin-right: 50px;
}

.icon-redes {
    width: 100%;
}

.icon-preventa {
    width: 100%;
}
  
@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
  
@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.btn-close {
    color: #012e57;
    background-color: #95e2fd;
    opacity: 100%;
    border-radius: 1rem;
}

.buttonModal {
    background: none;
    border: none;
}

.store-block {
    width: 220px;
}

.preventa-block {
    width: 400px;
}

.main-title {
    font-size: 400%;
}

@media (max-width: 1700px) {
    .preventa-block {
        width: 340px;
    }
}

@media (max-width: 1510px) {
    .store-block {
        width: 180px;
    }

    .main-title {
        font-size: 350%;
    }
}

@media (max-width: 1400px) {
    .preventa-block {
        width: 280px;
    }
}

@media (max-width: 1300px) {
    .image-text {
        font-size: 100%;
    }

    .store-block {
        width: 160px;
    }

    .main-title {
        font-size: 280%;
    }
}

@media (max-width: 1200px) {
    .preventa-block {
        width: 200px;
    }
}

@media (max-width: 1155px) {
    .image-text {
        font-size: 80%;
    }
}

@media (max-width: 1100px) {
    .store-block {
        width: 130px;
    }

    .main-title {
        font-size: 180%;
    }
}

@media (max-width: 991px) {
    .image-text {
        font-size: 70%;
    }

    .card-block, .card-block2, .card-block3, .card-block4, .card-block5, .card-block6 {
        width: 150px;
    }

    .card-row {
        margin-left: 35px;
    }
}

@media (max-width: 900px) {
    .store-block {
        width: 110px;
    }
    
    .icon-redes {
        width: 110%;
    }
}

@media (max-width: 840px) {
    .preventa-block {
        width: 170px;
    }
}

@media (max-width: 700px) {
    .main-title {
        font-size: 140%;
    }
}

@media (max-width: 384px) {
    .card-block, .card-block2, .card-block3, .card-block4, .card-block5, .card-block6 {
        width: 130px;
    }

    .image-text {
        font-size: 60%;
    }
}