table {
    width: 100%;
    margin-top: 50px;
}

.table_1 {
    width: 20%;
    text-align: center;
    position: relative;
    /* Agregamos posición relativa al contenedor */
}

.table_1 img {
    
    width: 100%;
    display: block;
    transition: filter 0.3s ease, 
}

.table_1:hover img {
    filter: brightness(50%);
    
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    text-align: center;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

.table_1:hover::after {
    /* Agregamos un sombreado al pasar el mouse por encima */
    content: '';
    position: absolute;
    top: 6%;
    left: 12.8%;
    width: 73%;
    height: 85%;
    background-color: rgba(107, 106, 106, 0.158);
    z-index: 1;
    border-top-right-radius: 4.2rem;
    border-bottom-right-radius: 4rem;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 3.7rem; 
}

.table_1:hover::before {
    content: '';
    position: absolute;
    top: 6%;
    left: 12.8%;
    width: 73%;
    height: 85%;
    border: 2px solid transparent;
    border-radius: 4rem;
    z-index: 2;
    box-shadow: 0 0 20px 15px lightblue;
  }

.new-column{
    padding-top: 40px;
    
}



.table2 {
    width: 50%;
    margin-top: 50px;
    margin-left: 100px;
}

p{
    color: white;
    font-size: 50px;
}

.table3 {
    width: 50%;
    margin-top: 50px;
    margin-left: 100px;
}

.p2{
    text-align: center;
}