<html>

<body>
    <table>
        <tr>
            <td class="table_1">
                <img src="assets/img/actividades.png" width="100%" alt="Imagen 1">
                <div class="image-text">ACTIVIDADES</div>
            </td>
            <td class="table_1">
                <img src="assets/img/tiendas.png" width="100%" alt="Imagen 2">
                <div class="image-text">TIENDAS <br>INVITADAS</div>
            </td>
            <td class="table_1">
                <img src="assets/img/inv-internacional.png" width="100%" alt="Imagen 3">
                <div class="image-text">INVITADO <span>INTERNACIONAL</span></div>
            </td >
            <td class="table_1">
                <img src="assets/img/concursos.png" width="100%" alt="Imagen 4">
                <div class="image-text">CONCURSO</div>
            </td>
            <td class="table_1">
                <img src="assets/img/inv-nacional.png" width="100%" alt="Imagen 5">
                <div class="image-text">INVITADOS NACIONALES</div>
            </td>
        </tr>
    </table>

    <table class="table2">
        <p>PREVENTA:</p>
        <tr>
            <td class="table_2">
                <img src="assets/img/Preventa.png" width="100%" alt="Imagen 1">
                
            </td>
            <td>
                <img src="assets/img/preventa 2.png" width="100%" alt="Imagen 2">
                
            </td>
            <td>
                <img src="assets/img/preventa 3.png" width="100%" alt="Imagen 3">
                
            </td>
            
        </tr>
    </table>
    
    <table class="table3">
        <p class="p2">PUNTOS DE VENTA</p>
        <tr>
            <td class="table_2">
                <img src="assets/img/Puntos de venta.png" width="100%" alt="Imagen 1">
            </td>
        </tr>
    </table>

</body>

</html>