<html>

<body>
    <table>
        <tr>
            <td>
                <img src="assets/img/actividades.png" width="100%" alt="Imagen 1">
                <div class="image-text">ACTIVIDADES</div>
            </td>
            <td>
                <img src="assets/img/tiendas.png" width="100%" alt="Imagen 2">
                <div class="image-text">TIENDAS <br>INVITADAS</div>
            </td>
            <td>
                <img src="assets/img/inv-internacional.png" width="100%" alt="Imagen 3">
                <div class="image-text">INVITADO <span>INTERNACIONAL</span></div>
            </td>
            <td>
                <img src="assets/img/concursos.png" width="100%" alt="Imagen 4">
                <div class="image-text">CONCURSO</div>
            </td>
            <td>
                <img src="assets/img/inv-nacional.png" width="100%" alt="Imagen 5">
                <div class="image-text">INVITADOS NACIONALES</div>
            </td>
        </tr>
    </table>
</body>

</html>