<div class="row mb-4 card-row" style="text-align: center;">
    <div class="col-lg-2 card-block">
        <div class="card">
            <div class="card-body">
                <a href="#" data-bs-toggle="modal" data-bs-target="#standModal">
                    <div class="table_1">
                        <img src="assets/img/actividades.png" width="100%" alt="Imagen 1">
                        <div class="image-text">
                            ACTIVIDADES
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 card-block2">
        <div class="card">
            <div class="card-body">
                <a href="#" data-bs-toggle="modal" data-bs-target="#standModal">
                    <div class="table_1">
                        <img src="assets/img/tiendas.png" width="100%" alt="Imagen 2">
                        <div class="image-text">
                            TIENDAS INVITADAS
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 card-block3">
        <div class="card">
            <div class="card-body">
                <a href="#" data-bs-toggle="modal" data-bs-target="#standModal">
                    <div class="table_1">
                        <img src="assets/img/inv-internacional.png" width="100%" alt="Imagen 3">
                        <div class="image-text">
                            INVITADO INTERNACIONAL
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 card-block4">
        <div class="card">
            <div class="card-body">
                <a href="#" data-bs-toggle="modal" data-bs-target="#standModal">
                    <div class="table_1">
                        <img src="assets/img/concursos.png" width="100%" alt="Imagen 4">
                        <div class="image-text">
                            CONCURSOS
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 card-block5">
        <div class="card">
            <div class="card-body">
                <a href="#" data-bs-toggle="modal" data-bs-target="#standModal">
                    <div class="table_1">
                        <img src="assets/img/inv-nacional.png" width="100%" alt="Imagen 5">
                        <div class="image-text">
                            INVITADOS NACIONALES
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 card-block6">
        <div class="card">
            <div class="card-body">
                <a href="#" data-bs-toggle="modal" data-bs-target="#standModal">
                    <div class="table_1">
                        <img src="assets/img/inv-nacional.png" width="100%" alt="Imagen 5">
                        <div class="image-text">
                            MAPA EVENTO
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row mx-5">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
        <p class="main-title">PREVENTA</p>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9"></div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 preventa-block">
        <img src="assets/img/Preventa.png" width="100%" alt="Imagen 1" class="icon-preventa">
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 preventa-block">
        <img src="assets/img/preventa 2.png" width="100%" alt="Imagen 2" class="icon-preventa">
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 preventa-block">
        <img src="assets/img/preventa 3.png" width="100%" alt="Imagen 3" class="icon-preventa">
    </div>
</div>

<div class="row mx-5">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <p class="main-title">PUNTOS DE VENTA</p>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5"></div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 store-block">
        <a href="https://www.instagram.com/nippon_hobby_center/" target="_blank" style="text-decoration: none; color: white;">
            <img src="assets/img/venta-1.png" class="icon-redes">
        </a>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 store-block">
        <a href="https://www.instagram.com/gameonneiva/" target="_blank" style="text-decoration: none; color: white;">
            <img src="assets/img/venta-2.png" class="icon-redes">
        </a>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 store-block">
        <a href="https://www.instagram.com/darkgarden22/" target="_blank" style="text-decoration: none; color: white;">
            <img src="assets/img/venta-3.png" class="icon-redes">
        </a>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 store-block">
        <a href="https://www.instagram.com/hobbyland_videojuegos/" target="_blank" style="text-decoration: none; color: white;">
            <img src="assets/img/venta-4.png" class="icon-redes">
        </a>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 store-block">
        <a href="https://www.instagram.com/armystorneiva/" target="_blank" style="text-decoration: none; color: white;">
            <img src="assets/img/venta-5.png" class="icon-redes">
        </a>
    </div>
    <!-- <div class="col-xl-6 col-lg-6 col-md-6">
        <img src="assets/img/Puntos de venta.png" width="100%" alt="Imagen 1">
    </div> -->
</div>