<div class="row">
    <div class="col-md-2 px-4" style="height: 150px;">
        <img src="assets/img/logo-recinto.png" class="main-logo">
    </div>
    <div class="col-md-5">
        <div class="img-container">
            <img src="assets/img/logo-gobernacion.png" class="logo">
            <img src="assets/img/logo-huila.png" class="logo">
            <img src="assets/img/gobernacion.png" class="logo">
        </div>       
    </div>
    <div class="col-md-2">
        <div class="img-container">
            <img src="assets/img/nippon.png" class="logo">
        </div>
    </div>

    <div class="col-md-3 pe-5">
        <div class="count-container timer">
            <span id="days"> {{daysToDday}} </span>DIAS
            <span id="hours"> {{hoursToDday}} </span>HRS 
            <span id="minutes"> {{minutesToDday}} </span>MIN
            <span id="seconds"> {{secondsToDday}} </span>SEG
        </div>
    </div>

    <div class="col-md-3 px-4"></div>
    <div class="col-md-8">
        <div class="patrocinadores">
            <p>CONOCE A NUESTROS</p>
            <p><span>PATROCINADORES OFICIALES:</span></p>
            <div class="box">
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="patro align-items-center d-flex justify-content-center">
            <span class="mx-1">¿Quieres ser patrocinador? </span>
        </div>
    </div>
    <div class="col-md-3">
        <button type="button" class="buttonModal" data-bs-toggle="modal" data-bs-target="#standModal">
            <div class="patro align-items-center d-flex justify-content-center">
                <span class="mx-1">¿Quieres tener tu STAND en el Friki Fest?</span>
            </div>
        </button>
    </div>
    <div class="col-md-3">
        <div class="patro align-items-center d-flex justify-content-center">
            <span class="mx-1">¿Quieres ser expositor en el Friki Fest?</span>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="modal main-modal" id="standModal" tabindex="-1" aria-labelledby="standModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <img src="assets/img/stands.png" alt="" style="width: 100%; height: 100%;">
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal-header">
    <span class="title-info px-2 mx-2">STANDS - FRIKI FEST 2023</span> <span class="title-info px-2 mx-2">VALOR: $400.000 COP</span>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body px-5">
    Contiene:
    <br>
    <br>
    •	3 entradas de cortesía para el evento <span style="font-weight: bold;">FRIKI FEST Huila crece 2023</span>.
    <br>
    <br>
    •	3 entradas para el personal del Staff a cargo del respectivo STAND.
    <br>
    <br>
    •	1 mesa de exhibición con 3 sillas tipo rimax y un puerto de toma corriente.
    <br>
    <br>
    •	Espacio de 2 metros de largo con 2 metros de profundidad para la ubicación de la mercancía y/o elementos que se vena inmersos en el desarrollo comercial del STAND.
    <br>
    <br>
    •	Mención de la marca del negocio y/o emprendimiento en la publicación oficial del plano de distribución del evento.
    <br>
    <br>
    •	Mención de la marca del negocio y/o emprendimiento en la publicación oficial de STANDS participantes del evento.
    <br>
    <br>
    Los negocios y/o emprendimientos que quieran sumarse a la experiencia <span style="font-weight: bold;">FRIKI FEST Huila crece 2023</span> deberán apartar su cupo con 
    un adelanto de <span style="font-weight: bold;">$200.000 COP</span> y este deberá ser cancelado con fecha limite al <span style="font-weight: bold;">16 de Junio</span> 
    del presenta año dejando una cantidad de <span style="font-weight: bold;">$200.000 COP</span> restante que deberá ser cancelada con fecha limite al 
    <span style="font-weight: bold;">10 de Julio</span> del presenta año.
    <br>
    <br>
    La ubicación de los STANDS dentro del Recinto Ferial la Vorágine, y de su respectivo pabellón, se asignará de manera aleatoria e indiscriminada.
    <br>
    <br>
    El negocio y/o emprendimiento debe ir acorde a la categoría del pabellón a la que está aplicando, siendo estos:
    <br>
    <br>
    •	PABELLON DE ANIME
    <br>
    •	PABELLON DE VIDEOJUEGOS
    <br>
    •	PABELLON DE ARTE
    <br>
    •	PABELLON DE K-POP
    <br>
    •	PABELLON DE COMIDAS
    <br>
    •	PABELLON DE TECNOLOGIA
    <br>
    <br>
    Para mayor información al respecto o los medios de pago, por favor comunicarse a nuestras líneas de atención: 321 4140415 Axl Dalí Barrios León

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div> -->