<div>
    <table>
        <tr style="vertical-align: top;">
            <td>
                <img src="assets/img/logo-recinto.png" style="margin-left: 20px;">
            </td>
            <td>
                <div class="img-container">
                    <img src="assets/img/logo-gobernacion.png" class="logo">
                    <img src="assets/img/logo-huila.png" class="logo">
                    <img src="assets/img/gobernacion.png" class="logo">
                </div>
            </td>
            <td>
                <div class="img-container">
                    <img src="assets/img/nippon.png" class="logo">
                </div>
            </td>
            <td>
                <div class="count-container">
                    <div class="timer">
                        <span id="days"> {{daysToDday}} </span>DIAS
                        <span id="hours"> {{hoursToDday}} </span>HRS 
                        <span id="minutes"> {{minutesToDday}} </span>MIN
                        <span id="seconds"> {{secondsToDday}} </span>SEG
                        <h5> PARA EL FRIKI FEST HUILA CRECE 2023 </h5>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>