.main-logo {
    width: 280px;
}

.img-container {
    /* margin-left: 25px; */
    background-color: #0795d0;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    text-align: center;
}

.info-contador {
    color: white;
    text-align: center;
}

.count-container {
    height: 180px;
    margin-top: 10px;
    margin-left: 25px;
    background-color: #95e2fd;
    border-radius: 3rem;
    font-weight: bold;
}

.logo {
    height: 120px;
    margin-left: 15px;
    margin-right: 15px;
}

.timer {
    text-align: center;
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    letter-spacing: -1px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-top: 30px; */
}

.timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
}

.patro {
    background-color: #95e2fd;
    color: #012e57;
    font-size: 100%;
    border-radius: 1.7rem;
    text-align: center;
    height: 90px;
}

.patrocinadores{
    color: white;
    font-size: 160%;
    text-align: center;
}

.patrocinadores span{
    font-size: 200%;
    line-height: 0px;
}

.box {
    background-color: white;
    border-radius: 54px;
    height: 250px;
    width: 100%!important;
}

.buttonModal {
    background: none;
    border: none;
}

.main-modal .modal-header, .modal-footer {
    border: none;
}

.main-modal .modal-content {
    border-radius: 1.8rem;
    background: -webkit-linear-gradient(to bottom, #012e57 60%, #0686CB) center/cover no-repeat;
    background: linear-gradient(to bottom, #012e57 60%, #0686CB) center/cover no-repeat;
    width: 800px;
}

.modal-body {
    color: white;
}

.modal .modal-content {
    padding: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}
  
@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
  
@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.btn-close {
    color: #012e57;
    background-color: #95e2fd;
    opacity: 100%;
    border-radius: 1rem;
}

.title-info {
    color: white;
    background-color: #014B88;
    border-radius: 0.6rem;
    font-size: 25px;
}

.button-row {
    margin-left: 50px;
    margin-right: 50px;
}

.size-modal {
    width: 140%!important;
}

@media (max-width: 1800px) {
    .main-logo {
        width: 200px;
    }

    .logo {
        width: auto;
        height: 120px;
    }
}

@media (max-width: 1406px) {
    .timer {
        font-size: 0.7em;
    }
}

@media (max-width: 1320px) {
    .main-logo {
        width: 150px;
    }

    .logo {
        height: 100px;
    }

    .timer span {
        font-size: 1.5em;
    }
}

@media (max-width: 1116px) {
    .logo {
        height: 85px;
    }

    .timer {
        font-size: 0.58em;
    }

    .size-modal {
        width: 100%!important;
    }
}

@media (max-width: 1060px) {
    .logo {
        height: 70px;
    }
}

@media (max-width: 1036px) {
    .patrocinadores span {
        font-size: 160%;
    }
}

@media (max-width: 986px) {
    .main-logo {
        width: 130px;
    }
}

@media (max-width: 930px) {
    .logo {
        height: 62px;
    }
}

@media (max-width: 850px) {
    .logo {
        height: 55px;
    }
}

@media (max-width: 790px) {
    .main-logo {
        width: 110px;
    }

    .logo {
        height: 42px;
    }
}

@media (max-width: 575px) {
    .main-logo {
        width: 105px;
    }

    .img-container {
        border-bottom-left-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
    }

    .box {
        width: 90%;
    }

    .patrocinadores span{
        font-size: 120%;
    }

    .icons-block, .icons-block2, .icons-block3, .icons-block4 {
        padding: 0!important;
        margin-left: 20px!important;
    }

    .icons-block {
        width: 90px;
    }

    .icons-block2 {
        width: 260px;
    }

    .icons-block3 {
        width: 80px;
    }

    .icons-block4 {
        width: 300px;
        margin-left: 160px!important;
        margin-top: -80px;
    }

    .patrocinadores {
        width: 90%;
        line-height: 10px;
        font-size: 110%;
    }

    .button-row {
        margin-left: 0;
        margin-right: 0;
    }

    .button-block {
        width: 180px;
        margin-right: -25px!important;
    }

    .button-block2 {
        width: 200px;
        margin-right: -25px!important;
    }

    .button-block3 {
        width: 190px;
    }
}

@media (max-width: 545px) {
    .button-block {
        width: 150px;
        margin-right: -33px!important;
    }

    .button-block2 {
        margin-right: -33px!important;
    }

    .box {
        border-radius: 30px;
        height: 120px;
    }
}

@media (max-width: 495px) {
    .button-block2 {
        width: 180px;
    }

    .button-block3 {
        width: 170px;
    }
}

@media (max-width: 465px) {
    .main-logo {
        width: 95px;
    }

    .icons-block {
        width: 80px;
    }

    .icons-block2 {
        width: 200px;
    }

    .icons-block4 {
        width: 280px;
        margin-left: 130px!important;
        margin-top: -60px;
    }

    .button-block {
        font-size: 90%;
        width: 130px;
    }

    .button-block2 {
        font-size: 90%;
        width: 160px;
    }

    .button-block3 {
        font-size: 90%;
        width: 160px;
    }
}

@media (max-width: 400px) {
    .main-logo {
        width: 90px;
    }

    .icons-block {
        width: 90px;
    }

    .icons-block2 {
        width: 170px;
    }

    .icons-block4 {
        width: 280px;
        margin-left: 110px!important;
        margin-top: -50px;
    }
}

@media (max-width: 383px) {
    .main-logo {
        width: 70px;
    }

    .icons-block {
        width: 60px;
    }

    .icons-block2 {
        width: 130px;
    }

    .button-block2 {
        font-size: 90%;
        width: 150px;
    }

    .button-block3 {
        width: 140px;
    }
}

/* @media (max-width: 1660px) {
    .logo {
        width: 140px;
        height: 120px;
    }
} */