<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 px-4 icons-block" style="height: 150px;">
        <img src="assets/img/logo-recinto.png" class="main-logo">
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 icons-block2">
        <div class="img-container">
            <img src="assets/img/logo-gobernacion.png" class="logo">
            <img src="assets/img/logo-huila.png" class="logo">
            <img src="assets/img/gobernacion.png" class="logo">
        </div>       
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 icons-block3">
        <div class="img-container">
            <img src="assets/img/nippon.png" class="logo">
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pe-5 icons-block4">
        <div class="count-container timer">
            <span id="days"> {{daysToDday}} </span>DIAS
            <span id="hours"> {{hoursToDday}} </span>HRS 
            <span id="minutes"> {{minutesToDday}} </span>MIN
            <span id="seconds"> {{secondsToDday}} </span>SEG
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2"></div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 mx-3">
        <div class="patrocinadores">
            <p>CONOCE A NUESTROS</p>
            <p><span>PATROCINADORES OFICIALES:</span></p>
            <div class="box">
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 button-row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 button-block">
        <button type="button" class="buttonModal" data-bs-toggle="modal" data-bs-target="#standModal" style="width: 100%;">
            <div class="patro align-items-center d-flex justify-content-center">
                <span class="mx-3">¿Quieres ser patrocinador?</span>
            </div>
        </button>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 button-block2">
        <button type="button" class="buttonModal" data-bs-toggle="modal" data-bs-target="#standModal" style="width: 100%;">
            <div class="patro align-items-center d-flex justify-content-center">
                <span class="mx-3">¿Quieres tener tu STAND en el Friki Fest?</span>
            </div>
        </button>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 button-block3">
        <button type="button" class="buttonModal" data-bs-toggle="modal" data-bs-target="#standModal" style="width: 100%;">
            <div class="patro align-items-center d-flex justify-content-center">
                ¿Quieres ser expositor en el Friki Fest?
            </div>
        </button>        
    </div>
</div>

<div class="modal main-modal" id="standModal" tabindex="-1" aria-labelledby="standModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content size-modal">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <img src="assets/img/stands.png" alt="" style="width: 100%; height: 100%;">
            </div>
        </div>
    </div>
</div>