.main-logo {
    width: 280px;
}

.img-container {
    /* margin-left: 25px; */
    background-color: #0795d0;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    text-align: center;
}

.info-contador {
    color: white;
    text-align: center;
}

.count-container {
    height: 180px;
    margin-top: 10px;
    margin-left: 25px;
    background-color: #95e2fd;
    border-radius: 3rem;
    font-weight: bold;
}

.logo {
    height: 120px;
    margin-left: 15px;
    margin-right: 15px;
}

.timer {
    text-align: center;
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    letter-spacing: -1px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-top: 30px; */
}

.timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
}

.patro {
    background-color: #0795d0;
    font-size: 1.7rem;
    border-radius: 1.7rem;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    margin-top: -318px;
    margin-left: 42px;
    margin-right: 372px;
    

}

.patro2{
    background-color: #0795d0;
    border-radius: 1.7rem;
    font-size: 1.6rem;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    margin-top: -318px;
    margin-right: 191px;
    margin-left: -331px;
}

.patro3{
    background-color: #0795d0;
    font-size: 1.7rem;
    border-radius: 1.7rem;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    margin-top: -318px;
    margin-right: 157px;
    margin-left: -163px;   
}

.patrocinadores{
    color: white;
    font-size: 1.7rem;
    text-align: center;
    margin-top: -215px;
    margin-right: -600px;
}

.patrocinadores span{
    font-size: 3.0rem;
}

.box {
    background-color: white;
    border-radius: 54px;
    padding: 110px 0;
    margin-left: -753px;
    margin-right: -310px;
    margin-top: -64px;
}






@media (max-width: 1800px) {
    .main-logo {
        width: 200px;
    }

    .logo {
        width: auto;
        height: 120px;
    }
}

@media (max-width: 1406px) {
    .timer {
        font-size: 0.7em;
    }
}

@media (max-width: 1257px) {
    .main-logo {
        width: 150px;
    }

    .logo {
        height: 100px;
    }

    .timer span {
        font-size: 1.5em;
    }
}

@media (max-width: 1116px) {
    .logo {
        height: 85px;
    }

    .timer {
        font-size: 0.58em;
    }
}

@media (max-width: 986px) {
    .main-logo {
        width: 130px;
    }

    .logo {
        height: 70px;
    }
}

@media (max-width: 380px) {
    .main-logo {
        width: 370px;
    }

    .img-container {
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
    }
}

/* @media (max-width: 1660px) {
    .logo {
        width: 140px;
        height: 120px;
    }
} */