html {
    background: -webkit-linear-gradient(to bottom, #012e57, #0795d0);
    background: linear-gradient(to bottom, #012e57, #0795d0);
    background-repeat: no-repeat;
    background-attachment: fixed;
}