<footer class="text-lg-start">
    <div class="container-fluid">
        <div class="row ms-5" style="position: relative;">
            <div class="col-xl-2 col-lg-2 col-md-2">
                <p class="text-redes">
                    <a href="" style="text-decoration: none; color: white;">
                        <img src="assets/img/instagram.png" class="icon-redes">
                        Frikifestneiva
                    </a>
                </p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">
                <p class="text-redes">
                    <a href="" style="text-decoration: none; color: white;">
                        <img src="assets/img/facebook.png" class="icon-redes">
                        Neivafrikifest
                    </a>
                </p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">
                <p class="text-redes">
                    <a href="" style="text-decoration: none; color: white;">
                        <img src="assets/img/facebook.png" class="icon-redes">
                        @gobernacióndelHuila
                    </a>
                </p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">
                <p class="text-redes">
                    <a href="" style="text-decoration: none; color: white;">
                        <img src="assets/img/instagram.png" class="icon-redes">
                        @huila.crece
                    </a>
                </p>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <img src="assets/img/daru.png" class="daru">
            </div>
        </div>
    </div>
    <!-- <div class="p-5">
        <div class="row">
            <div class="col-lg-2">
                <a href="" >
                    <p class="text-redes">
                        <img src="assets/img/instagram.png" class="icon-redes">Frikifestneiva
                    </p>
                </a>
                
            </div>
            <div class="col-lg-2 footer-line">
                
            </div>
            <div class="col-lg-3 footer-line">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-1">
                
            </div>
            <div class="col-lg-2">
                
            </div>
            <div class="col-lg-4">
                
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-5">
                <div>©2002 - 2022 Showroom All Rights Reserved</div>
            </div>
            <div class="col-lg-5">
                
            </div>
        </div>
    </div> -->
</footer>