
<footer class="text-lg-start">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9"></div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <img src="assets/img/daru.png" class="daru" id="imgDaru">
            </div>
        </div>
        <div class="row" style="background-color: #002E57;">
            <div class="col-xl-2 col-lg-2 col-md-2">
                <p class="icon">
                    <img src="assets/img/friki-fest.png" width="80%" alt="Imagen 1">
                </p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 mt-5">
                <a href="https://www.instagram.com/frikifestneiva/" style="text-decoration: none; color: white;" target="_blank">
                    <img src="assets/img/instagram.png" class="icon-redes">
                    Frikifestneiva
                </a>
                <br/>
                <a href="https://www.facebook.com/Neivafrikifest" style="text-decoration: none; color: white;">
                    <img src="assets/img/facebook.png" class="icon-redes">
                    Neivafrikifest
                </a>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 mt-5">
                <a href="https://www.instagram.com/huila.crece/" style="text-decoration: none; color: white;">
                    <img src="assets/img/instagram.png" class="icon-redes">
                    @huila.crece
                </a>
                <br/>
                <a href="https://www.instagram.com/gobhuila/" style="text-decoration: none; color: white;">
                    <img src="assets/img/facebook.png" class="icon-redes">
                    @gobernacióndelHuila
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mt-5" style="color: white;">
                <p>
                   Contáctanos:
                   <br/>
                        <br/>
                        Frikifest4@gmail.com 
                        <br/>
                        +57 312 358 7292
                        <br/>
                        Carrera 1 # 28-16 Barrio Cándido Neiva-Huila
                </p>
            </div>
           
        </div>
    </div>
</footer> 

