.main-modal .modal-header, .modal-footer {
    border: none;
}

.main-modal .modal-content {
    border-radius: 1.8rem;
    background: -webkit-linear-gradient(to bottom, #012e57 60%, #0686CB) center/cover no-repeat;
    background: linear-gradient(to bottom, #012e57 60%, #0686CB) center/cover no-repeat;
    width: 800px;
}

.modal-body {
    color: white;
}

.modal .modal-content {
    padding: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}
  
@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
  
@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.btn-close {
    color: #012e57;
    background-color: #95e2fd;
    opacity: 100%;
    border-radius: 1rem;
}